<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="CarryOn Companion"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.CarryOnCompanion">
        <activity
            android:name="com.carryon.companion.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
